In [4]:
import pandas as pd
census_data = pd.read_csv('censusdata.txt')
print(census_data.columns.values)

['caseid' 'dAge' 'dAncstry1' 'dAncstry2' 'iAvail' 'iCitizen' 'iClass'
 'dDepart' 'iDisabl1' 'iDisabl2' 'iEnglish' 'iFeb55' 'iFertil' 'dHispanic'
 'dHour89' 'dHours' 'iImmigr' 'dIncome1' 'dIncome2' 'dIncome3' 'dIncome4'
 'dIncome5' 'dIncome6' 'dIncome7' 'dIncome8' 'dIndustry' 'iKorean'
 'iLang1' 'iLooking' 'iMarital' 'iMay75880' 'iMeans' 'iMilitary'
 'iMobility' 'iMobillim' 'dOccup' 'iOthrserv' 'iPerscare' 'dPOB'
 'dPoverty' 'dPwgt1' 'iRagechld' 'dRearning' 'iRelat1' 'iRelat2'
 'iRemplpar' 'iRiders' 'iRlabor' 'iRownchld' 'dRpincome' 'iRPOB'
 'iRrelchld' 'iRspouse' 'iRvetserv' 'iSchool' 'iSept80' 'iSex' 'iSubfam1'
 'iSubfam2' 'iTmpabsnt' 'dTravtime' 'iVietnam' 'dWeek89' 'iWork89'
 'iWorklwk' 'iWWII' 'iYearsch' 'iYearwrk' 'dYrsserv']

In [5]:
census_data.head()

,caseid,dAge,dAncstry1,dAncstry2,iAvail,iCitizen,iClass,dDepart,iDisabl1,iDisabl2,...,iTmpabsnt,dTravtime,iVietnam,dWeek89,iWork89,iWorklwk,iWWII,iYearsch,iYearwrk,dYrsserv
0,10000,5,0,1,0,0,5,3,2,2,...,0,5,0,2,1,1,0.0,11.0,1.0,0.0
1,10001,6,1,1,0,0,7,5,2,2,...,0,1,0,2,1,1,0.0,5.0,1.0,0.0
2,10002,3,1,2,0,0,7,4,2,2,...,0,2,0,2,1,1,0.0,10.0,1.0,0.0
3,10003,4,1,2,0,0,1,3,2,2,...,0,1,0,1,1,1,0.0,10.0,1.0,0.0
4,10004,7,1,1,0,0,0,0,2,2,...,3,0,0,0,2,2,0.0,5.0,6.0,0.0

In [6]:
census_data.tail()

,caseid,dAge,dAncstry1,dAncstry2,iAvail,iCitizen,iClass,dDepart,iDisabl1,iDisabl2,...,iTmpabsnt,dTravtime,iVietnam,dWeek89,iWork89,iWorklwk,iWWII,iYearsch,iYearwrk,dYrsserv
71529,81529,7,1,1,0,0,7,4,2,2,...,0,1,0,2,1,1,1.0,10.0,1.0,1.0
71530,81530,7,2,1,0,0,0,0,2,2,...,3,0,0,0,2,2,1.0,14.0,5.0,1.0
71531,81531,1,1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0.0,4.0,0.0,0.0
71532,81532,3,11,1,0,0,1,5,2,2,...,0,5,0,0,2,1,0.0,7.0,1.0,0.0
71533,81533,4,11,1,0,0,1,2,2,2,...,0,4,0,1,1,1,NaN,NaN,NaN,NaN

In [7]:
census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71534 entries, 0 to 71533
Data columns (total 69 columns):
caseid       71534 non-null int64
dAge         71534 non-null int64
dAncstry1    71534 non-null int64
dAncstry2    71534 non-null int64
iAvail       71534 non-null int64
iCitizen     71534 non-null int64
iClass       71534 non-null int64
dDepart      71534 non-null int64
iDisabl1     71534 non-null int64
iDisabl2     71534 non-null int64
iEnglish     71534 non-null int64
iFeb55       71534 non-null int64
iFertil      71534 non-null int64
dHispanic    71534 non-null int64
dHour89      71534 non-null int64
dHours       71534 non-null int64
iImmigr      71534 non-null int64
dIncome1     71534 non-null int64
dIncome2     71534 non-null int64
dIncome3     71534 non-null int64
dIncome4     71534 non-null int64
dIncome5     71534 non-null int64
dIncome6     71534 non-null int64
dIncome7     71534 non-null int64
dIncome8     71534 non-null int64
dIndustry    71534 non-null int64
iKorean      71534 non-null int64
iLang1       71534 non-null int64
iLooking     71534 non-null int64
iMarital     71534 non-null int64
iMay75880    71534 non-null int64
iMeans       71534 non-null int64
iMilitary    71534 non-null int64
iMobility    71534 non-null int64
iMobillim    71534 non-null int64
dOccup       71534 non-null int64
iOthrserv    71534 non-null int64
iPerscare    71534 non-null int64
dPOB         71534 non-null int64
dPoverty     71534 non-null int64
dPwgt1       71534 non-null int64
iRagechld    71534 non-null int64
dRearning    71534 non-null int64
iRelat1      71534 non-null int64
iRelat2      71534 non-null int64
iRemplpar    71534 non-null int64
iRiders      71534 non-null int64
iRlabor      71534 non-null int64
iRownchld    71534 non-null int64
dRpincome    71534 non-null int64
iRPOB        71534 non-null int64
iRrelchld    71534 non-null int64
iRspouse     71534 non-null int64
iRvetserv    71534 non-null int64
iSchool      71534 non-null int64
iSept80      71534 non-null int64
iSex         71534 non-null int64
iSubfam1     71534 non-null int64
iSubfam2     71534 non-null int64
iTmpabsnt    71534 non-null int64
dTravtime    71534 non-null int64
iVietnam     71534 non-null int64
dWeek89      71534 non-null int64
iWork89      71534 non-null int64
iWorklwk     71534 non-null int64
iWWII        71533 non-null float64
iYearsch     71533 non-null float64
iYearwrk     71533 non-null float64
dYrsserv     71533 non-null float64
dtypes: float64(4), int64(65)
memory usage: 37.7 MB

In [8]:
census_data.describe()

,caseid,dAge,dAncstry1,dAncstry2,iAvail,iCitizen,iClass,dDepart,iDisabl1,iDisabl2,...,iTmpabsnt,dTravtime,iVietnam,dWeek89,iWork89,iWorklwk,iWWII,iYearsch,iYearwrk,dYrsserv
count,71534.000000,71534.000000,71534.000000,71534.000000,71534.000000,71534.000000,71534.000000,71534.000000,71534.000000,71534.000000,...,71534.000000,71534.000000,71534.000000,71534.000000,71534.00000,71534.000000,71533.000000,71533.000000,71533.000000,71533.000000
mean,45766.500000,3.846786,3.265286,1.577781,0.122264,0.290575,1.228954,1.373417,1.429418,1.463094,...,0.808119,1.468449,0.033271,0.822784,1.00288,1.099086,0.037955,8.422295,1.840339,0.138132
std,20650.231415,2.054269,4.019452,1.705002,0.675895,0.969832,1.761880,1.751731,0.846015,0.848152,...,1.316751,1.963496,0.179344,0.859403,0.68818,0.747221,0.191088,4.097917,2.130184,0.401900
min,10000.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,27883.250000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,1.00000,1.000000,0.000000,5.000000,1.000000,0.000000
50%,45766.500000,4.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,2.000000,2.000000,...,0.000000,0.000000,0.000000,1.000000,1.00000,1.000000,0.000000,10.000000,1.000000,0.000000
75%,63649.750000,6.000000,3.000000,2.000000,0.000000,0.000000,1.000000,3.000000,2.000000,2.000000,...,3.000000,3.000000,0.000000,2.000000,1.00000,2.000000,0.000000,11.000000,2.000000,0.000000
max,81533.000000,7.000000,11.000000,12.000000,4.000000,4.000000,9.000000,5.000000,2.000000,2.000000,...,3.000000,6.000000,1.000000,2.000000,2.00000,2.000000,1.000000,17.000000,7.000000,2.000000

In [9]:
census_data.columns

Index(['caseid', 'dAge', 'dAncstry1', 'dAncstry2', 'iAvail', 'iCitizen',
       'iClass', 'dDepart', 'iDisabl1', 'iDisabl2', 'iEnglish', 'iFeb55',
       'iFertil', 'dHispanic', 'dHour89', 'dHours', 'iImmigr', 'dIncome1',
       'dIncome2', 'dIncome3', 'dIncome4', 'dIncome5', 'dIncome6', 'dIncome7',
       'dIncome8', 'dIndustry', 'iKorean', 'iLang1', 'iLooking', 'iMarital',
       'iMay75880', 'iMeans', 'iMilitary', 'iMobility', 'iMobillim', 'dOccup',
       'iOthrserv', 'iPerscare', 'dPOB', 'dPoverty', 'dPwgt1', 'iRagechld',
       'dRearning', 'iRelat1', 'iRelat2', 'iRemplpar', 'iRiders', 'iRlabor',
       'iRownchld', 'dRpincome', 'iRPOB', 'iRrelchld', 'iRspouse', 'iRvetserv',
       'iSchool', 'iSept80', 'iSex', 'iSubfam1', 'iSubfam2', 'iTmpabsnt',
       'dTravtime', 'iVietnam', 'dWeek89', 'iWork89', 'iWorklwk', 'iWWII',
       'iYearsch', 'iYearwrk', 'dYrsserv'],
      dtype='object')

In [12]:
len(census_data.index)

71534

In [13]:
len(census_data.columns)

69